@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@600&display=swap");

body {
  background-image: linear-gradient(to top, #1b2838, #4c9afa);
  background-attachment: fixed;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background: #171a21;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  position: absolute;
  width: 100px;
  height: 38px;
  left: 750px;
  top: 20px;
}

.menu {
  position: absolute;
  top: 15px;
  left: 20px;
}

.menu button {
  background-color: #171a21;
  border: none;
  font-family: Saira Condensed;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 5px;
}

.menu button:hover {
  text-decoration: underline rgb(95, 255, 95);
  text-decoration-thickness: 6px;  
  border-radius: 20px;
  transition: 0.3s;
}

#titulo{
    
position: absolute;
width: 143px;
height: 79px;
top:120px;
left:350px;
font-family: Saira Condensed;
font-style: normal;
font-weight: 300;
font-size: 65px;
line-height: 79px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#titulo1{
position: absolute;
width: 175px;
height: 79px;
top:120px;
left:850px;
font-family: Saira Condensed;
font-style: normal;
font-weight: 300;
font-size: 65px;
line-height: 79px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#separa{
position: absolute;
width: 8px;
height: 520px;
top:165px;
left:730px;
background: #FFFCFC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

#forms_entrar{
    position: absolute;
    width: 400px;
    height: 71px;
    top:300px;
    left:300px;
    font-family: Saira Condensed Bold;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 25px;
    border: none;
    outline: 0;
}
#forms_entrar1{
    position: absolute;
    width: 400px;
    height: 71px;
    top:400px;
    left:300px;
    font-family: Saira Condensed Bold;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 25px;
    border: none;
    outline: 0;
}
#entrar{
    position: absolute;
    width: 400px;
    height: 71px;
    top:500px;
    left:300px;
    font-family: Saira Condensed Bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgb(95, 255, 95);
    border-radius: 10px;
    font-size: 25px;
    border: none;
    outline: 0;
    cursor: pointer;

}